@inject IdentityRedirectManager RedirectManager
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject NewsletterService NewsletterService
@using System.Text
@using BackOfficeSilicon.Components.Account
@using BackOfficeSilicon.Models
@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer

<div class="container newsletter">
    <h1>Newsletter</h1>

    <div class="options-bar">
    </div>
    <div class="content-box">
        <QuickGrid Items="List.AsQueryable()" Class="quickgrid-table">

            <PropertyColumn Property="l => l.Email" Title ="Email" Sortable="true"/>
            <TemplateColumn Title="Is Subscribed">
                <p><i class="fa-solid @GetIcon(context.IsSubscribed)"></i></p>
            </TemplateColumn>
            <TemplateColumn Title="Daily Newsletter">
                <p><i class="fa-solid @GetIcon(context.DailyNewsLetter)"></i></p>
            </TemplateColumn>
            <TemplateColumn Title="Advertising Updates">
                <p><i class="fa-solid @GetIcon(context.AdvertisingUpdates)"></i></p>
            </TemplateColumn>
            <TemplateColumn Title="Week In Reviews">
                <p><i class="fa-solid @GetIcon(context.WeekInReviews)"></i></p>
            </TemplateColumn>
            <TemplateColumn Title="Event Updates">
                <p><i class="fa-solid @GetIcon(context.EventUpdates)"></i></p>
            </TemplateColumn>
            <TemplateColumn Title="Startups Weekly">
                <p><i class="fa-solid @GetIcon(context.StartupsWeekly)"></i></p>
            </TemplateColumn>
            <TemplateColumn Title="Podcasts">
                <p><i class="fa-solid @GetIcon(context.Podcasts)"></i></p>
            </TemplateColumn>
            <TemplateColumn Title="Delete">
                <button class="btn-red" @onclick="() => DeleteAsync(context.Email)"><i class="fa-solid fa-trash"></i></button>
            </TemplateColumn>
            <TemplateColumn Title="Update">
                <button class="btn-theme" @onclick="() => Update(context.Email)"><i class="fa-solid fa-pen"></i></button>
            </TemplateColumn>
        </QuickGrid>
    </div>
</div>
@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private string GetIcon(bool value) => value ? "fa-check green" : "fa-xmark red";

    private IEnumerable<NewsletterModel> List { get; set; } = [];

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var result = await NewsletterService.GetSubscribersAsync();
            List = result;
        }
        catch (Exception) { }
    }


    public async Task Update(string Email)
    {
        await OnClick.InvokeAsync(Email);
    } 


    private async Task DeleteAsync(string email)
    {
        var result = await NewsletterService.DeleteAsync(email);
        if (result != null && result.Any())
        {
            List = result;
            StateHasChanged();
        }
    }
}
